<h1>Log Dashboard</h1>

<p><img height="100" width="600" alt="48hr activity graph" /></p>

<h2>Top Events</h2>

<table border="1">
    <thead>
        <tr>
            <th>Occurances</th>
            <th>Level</th>
            <th>Type</th>
            <th>Message</th>
            <th>Last Time</th>
        </tr>
    </thead>
    <tbody>
    <% for (var i=0; i<events.length; i++) { var ev = events[i]; %>
        <tr onclick='window.location.href="/data/<%= token %>/<%= ev.hash %>"' style='cursor: pointer;'>
            <td><%= ev.total %></td>
            <td><%= ev.level %></td>
            <td><%= ev.type || "-" %></td>
            <td><%= ev.message || "-" %></td>
            <td><%= ev.last_time %></td>
        </tr>
    <% } %>
    </tbody>
</table>

<h2>All Events</h2>

<table border="1">
    <thead>
        <tr>
            <th>Occurances</th>
            <th>Level</th>
            <th>Type</th>
            <th>Message</th>
            <th>Last Time</th>
        </tr>
    </thead>
    <tbody>
    <% for (var i=0; i<events.length; i++) { var ev = events[i]; %>
        <tr onclick='window.location.href="/data/<%= token %>/<%= ev.hash %>"' style='cursor: pointer;'>
            <td><%= ev.total %></td>
            <td><%= ev.level %></td>
            <td><%= ev.type || "-" %></td>
            <td><%= ev.message || "-" %></td>
            <td><%= ev.last_time %></td>
        </tr>
    <% } %>
    </tbody>
</table>